html, body{
    margin: 0%;
    padding: 0%;
}
*{
    box-sizing: border-box;
    font-size: 20px;
}
.calculator{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    background-color: black;
    padding: 10px;
    border-radius: 25px;
}
.calculator .output, .input{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    margin: 2.5px;
}
.output{
    grid-column: 1 / span 4;
}
.calculator .input{
    background-color: rgb(88, 88, 88);
    border-radius: 25px;
}

.output:active, .input:active{
    background-color: rgb(255, 140, 0);
}
